.about {
    padding-top: 163px;
    background: #FFFFFF;

    @media (max-width:1200px) {
        padding-top: 60px;
    }

    &_title {
        color: #2B4460;
        text-align: center;
        font-family: "Yandex Sans Text";
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 77px;
        letter-spacing: -2.88px;

        @media (max-width:1200px) {
            font-size: 48px;
            line-height: normal;
        }

        @media (max-width:768px) {
            font-size: 48px;
            line-height: normal;
        }
        @media (max-width:556px) {
            font-size: 32px;
            line-height: normal;
        }

        span {
            color: #FF9143;
        }
    }

    .about_logos_content {
        @media (max-width:1200px) {
            width: 100%;
            max-width: 1200px;
        }
    }

    &_logos {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (max-width:1200px) {
            margin-left: 0;
            gap: 30px;
            overflow-y: auto;
            margin-top: 35px;
        }

        .logo_item {
            @media (max-width:1200px) {
                flex: 0 0 auto;
                display: block;
            }

            @media (max-width:768px) {
                height: 34px;

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }

        }
    }

    &_banner {
        background: linear-gradient(154deg, #4C9FFF 10.76%, #3593FF 40.42%, #004595 88.83%);
        padding-top: 106px;
        padding-bottom: 121px;
        width: 100%;
        margin-top: 104px;
        position: relative;
        @media (max-width:768px) {
            margin-top: 62px;
        }
        @media (max-width:556px) {
            padding-top: 62px;
            padding-bottom: 62px;
        }
        .top_img {
            position: absolute;
            top: -134px;
            left: -200px;

            @media (max-width:1200px) {
                top: -370px;
                width: 190px;
                left: -80px;
            }
        }

        .right_img {
            position: absolute;
            right: -250px;
            bottom: -320px;
            width: 780px;

            @media (max-width:1400px) {
                width: 650px;
            }

            @media (max-width:1200px) {
                width: 550px;
            }
            @media (max-width:556px) {
                bottom: -100px;
                width: 400px;
            }
        }

        .bottom_img {
            position: absolute;
            bottom: -380px;
            right: 400px;

            @media (max-width:1200px) {
                width: 320px;
                right: 200px;
                bottom: -300px;
            }
            @media (max-width:556px) {
                bottom: -100px;
                width: 190px;
            }
        }

        .banner_info {
            padding-left: 153px;

            @media (max-width:1200px) {
                padding-left: 35px;
            }

            @media (max-width:768px) {
                padding: 33px;
            }
            @media (max-width:556px) {
             padding-left: 23px;
             padding-top: 0;
              }
            .section_title {
                color: #fff;
                @media (max-width:556px) {
                  text-align: center;
                }
            }

            .about_subtitle {
                color: #FFF;
                font-family: "Yandex Sans Text";
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: -0.84px;
                margin-top: 27px;
                @media (max-width:556px) {
                    margin-top: 6px;
                    font-size: 16px;
                     }
            }
        }
    }

    &_lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 55px 0;
        width: 80%;
        margin-top: 65px;

        @media (max-width:1200px) {
            width: 96%;
        }

        @media (max-width:768px) {
            flex-direction: column;
            width: 100%;
        }
        @media (max-width:556px) {
            margin-top: 27px;
            font-size: 16px;
            gap:18px 0 ;
             }
        &_item {
            width: calc(50% - 30px);
            display: flex;
            gap: 15px;
            align-items: flex-start;

            @media (max-width:1200px) {
                width: calc(50% - 15px);
            }

            @media (max-width:768px) {
                width: 100%;
            }

            .list_number {
                position: relative;
                width: 49px;
                height: 49px;
                display: flex;
                flex: 0 0 auto;
                justify-content: center;
                align-items: center;
                background: #FF9143;
                border-radius: 6px;
                color: #FFF;
                font-family: "Yandex Sans Text";
                font-size: 14.691px;
                font-style: normal;
                font-weight: 400;
                line-height: 14.691px;
                letter-spacing: -0.588px;
                transform: rotate(7.451deg);
                @media (max-width:556px) {
                    width: 38px;
                    height: 38px;
                     }
                &::after {
                    content: '';
                    transform: rotate(45deg);
                    border-radius: 3px;
                    width: 18px;
                    height: 18px;
                    background: #FF9143;
                    position: absolute;
                    left: -9px;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    display: block;
                    @media (max-width:556px) {
                        width: 14px;
                        height: 14px;
                        left: -6px;

                         }
                }
            }

            .list_title {
                color: #FFF;
                font-family: "Yandex Sans Display";
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;

                @media (max-width:1200px) {
                    font-size: 24px;
                    line-height: normal;
                }
                @media (max-width:556px) {
                    font-size: 20px;
                     }
            }

            .list_subtitle {
                color: #FFF;
                font-family: "Yandex Sans Display";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: -0.8px;
                margin-top: 16px;
                @media (max-width:556px) {
                    font-size: 14px;
                    line-height: normal;
                    margin-top: 4px;
                     }
            }

            .button {
                padding: 35px 112px;
                display: inline-block;
                text-align: center;
                color: #FFF;
                text-align: center;
                text-shadow: 0px 0.985px 0px rgba(0, 0, 0, 0.15);
                font-family: 'Inter';
                font-size: 22.63px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border-radius: 14.768px;
                background: #FF8C3A;
                box-shadow: 0px 4.011px 0px 0px #E3792E, 9.845px 9.845px 39.381px 0px rgba(255, 255, 255, 0.30) inset;
                @media (max-width:556px) {
                    margin: 0 auto;
                    padding: 25px 63px;
                    position: relative;
                    z-index: 345235435;
                     }
            }
        }
    }

    &_bottom_info {
        padding-top: 180px;
        padding-bottom: 150px;
        width: 100%;
        @media (max-width:556px) {
            padding-top:46px;
            padding-bottom: 53px;
        }
        .section_title {
            position: relative;
            width: 100%;

            @media (max-width:1400px) {
                padding-top: 60px;
                font-size: 109px;
            }

            @media (max-width:1200px) {
                font-size: 70px;
            }

            @media (max-width:768px) {
                text-align: center;
                text-align: center;
                font-family: "Yandex Sans Text";
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: -1.92px;

                br {
                    display: none;
                }
            }
            @media (max-width:556px) {
                padding-top:0;
            }
            span {
                color: #FF9143;
            }

            img {
                position: absolute;
                right: 20px;
                top: 20px;

                @media (max-width:1400px) {
                    top: 109px;
                }

                @media (max-width:1200px) {
                    width: 120px;
                }
                @media (max-width:556px) {
                    top: 24px;
                    right: -65px;
                    transform: rotate(-22deg);
                }
            }
        }

        @media (max-width:1400px) {
            padding-top: 60px;

        }
    }

    &_author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
        @media (max-width:556px) {
           margin-top: 30px;
        }
        .author_title {
            color: #2B4460;
            font-family: "Yandex Sans Text";
            font-size: 72px;
            font-style: normal;
            font-weight: 300;
            line-height: 77px;
            letter-spacing: -2.88px;

            @media (max-width:1400px) {
                font-size: 45px;
            }

            @media (max-width:1200px) {
                font-size: 35px;
                line-height: 50px;
            }

            @media (max-width:768px) {
                font-size: 32px;
                text-align: center;
                line-height: normal;

                br {
                    display: none;
                }
            }
            @media (max-width:556px) {
                font-size: 32px;
            }
            span {
                color: #FFA137;
            }
        }

        img {
            @media (max-width:1200px) {
                width: 50%;
            }

            @media (max-width:768px) {
                width: 100%;

            }
        }

        @media (max-width:768px) {
            flex-direction: column-reverse;
            gap: 19px;
        }
    }

    .big_button {
        padding: 118px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: url('../images/background-gradient.png') no-repeat center;
        background-size: cover;
        color: #FFF;
        font-family: 'Inter';
        font-size: 130px;
        font-style: normal;
        font-weight: 700;
        line-height: 110px;
        letter-spacing: -5.2px;
        gap: 25px;

        @media (max-width:1200px) {
            font-size: 80px;
            padding: 100px 0;
        }

        @media (max-width:768px) {
            font-size: 34px;
            letter-spacing: normal;
            padding: 36px 20px;
            gap: 17px;
        }
        @media (max-width:556px) {
            padding: 43px 0;
        }
        img {
            @media (max-width:768px) {
                width: 34px;
                flex: 0 0 auto;
            }
        }
        span{
            @media (max-width:556px) {
            line-height: normal;
            font-size: 34px;
            }
            @media (max-width:556px) {
                font-size: 28px;
                }
        }
    }
}