.advantages {
    background: #F6F9FC;
    padding-top: 60px;
    padding-bottom: 70px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width:1200px) {
            flex-direction: column-reverse;
        }
    }

    // left adv
    &_left {
        color: #2B4461;
        font-family: "Yandex Sans Text";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        letter-spacing: -0.96px;
        max-width: 900px;
        @media (max-width:1400px) {
            max-width: 700px;
        }
        @media (max-width:768px) {
            font-size: 16px;
            max-width: 100%;
        }

        .ads_info_top {
            border-radius: 20px;
            background: rgba(21, 100, 191, 0.05);
            padding: 40px 42px 42px 35px;
            display: block;
            color: #2B4461;

            @media (max-width:768px) {
                padding: 23px 56px 25px 20px;
                border-radius: 10px;
            }
        }

        .ads_text {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media (max-width:768px) {
                margin-top: 22px;
            }

            &.light {
                padding: 40px 75px 40px 40px;
                border-radius: 20px;
                background: #FFF;
                @media (max-width:768px) {
                    border-radius: 10px;
                   padding: 23px 40px 25px 20px; 
                }
            }

            b {
                padding-right: 8px;
            }

            a {
                color: #FF9143;
                font-weight: 700;
                text-decoration: none;

                @media (max-width:768px) {
                    display: block;
                }
            }
        }

        .tarif_lists {
            display: flex;
            flex-direction: column;
            gap: 45px;
            margin-top: 80px;

            @media (max-width:768px) {
                margin-top: 26px;
                gap: 12px;

            }

            li {
                display: flex;
                align-items: center;
                gap: 23px;

                span {
                    color: #2B4461;
                    font-family: "Yandex Sans Text";
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -1.44px;

                    @media (max-width:768px) {
                        line-height: 24px;
                        letter-spacing: -0.8px;
                        font-size: 20px;
                    }
                }
            }
        }

        .ads_info_section {
            margin-top: 55px;

            @media (max-width:768px) {
                margin-top: 40px;

                &.last{
                    .ads_title{

                        font-size: 28px;
                    }
                }
            }

            .ads_title {
                font-size: 100px;

                @media (max-width:1400px) {
                    font-size: 70px;
                    line-height: normal;
                }

                @media (max-width:768px) {
                    color: #2B4461;
                    font-family: "Yandex Sans Text";
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: -1.44px;
                }
                
            }

            &.first {
                margin-top: 103px;

                @media (max-width:768px) {
                    margin-top: 50px;
                }
            }

            .ads_description {
                margin-top: 34px;

                @media (max-width:768px) {
                    margin-top: 15px;
                }
            }

            .ads_description_lists {
                margin-top: 16px;
                line-height: 55px;
                @media (max-width:768px) {
                    line-height: 35px;
                }
            }

            .sm_title {
                color: #2B4461;
                font-family: "Yandex Sans Text";
                font-size: 72px;
                font-style: normal;
                font-weight: 500;
                line-height: 77px;
                letter-spacing: -2.88px;
                margin-top: 36px;

                @media (max-width:768px) {
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -1.2px;
                    margin-top: 23px;
                }
            }
            .bottom{
                margin-top: 25px;
            }
        }

        .ads_cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 52px;
            @media (max-width:768px) {
                flex-direction: column;
                gap: 20px;
            }
            a {
                display: block;
                width: calc(50% - 13.5px);
                @media (max-width:768px) {
                  width: 100%;
                }    
            }

            img {
                width: 100%;
                object-fit: contain;
            }

            .btn {
                margin-top: 21px;
                width: 100%;
                text-align: center;
                opacity: .5;
                color: #2B4461;
                @media (max-width:768px) {
                   margin-top: 0;
                  }    
            }
        }
    }

    // contact style
    &_contact {
        position: sticky;
        top: 0;
        width: 440px;

        @media (max-width:1200px) {
            position: static;
            width: 100%;
            padding-bottom: 66px;
        }

        .contact_info {
            padding: 40px;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            background: #fff;

            @media (max-width:768px) {
                padding: 30px;
            }

            .contact_title {
                color: #2B4461;
                font-family: "Yandex Sans Text";
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 100px;
                letter-spacing: -1.44px;

                @media (max-width:768px) {
                    font-size: 24px;
                    line-height: 50px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px 0;

                @media (max-width:768px) {
                    gap: 10px;
                }

                a {
                    color: #2B4461;
                    font-family: "Yandex Sans Text";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 135%;
                    letter-spacing: -0.96px;
                    text-decoration-line: underline;
                    text-decoration-style: solid;

                    @media (max-width:768px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &_user {
        margin-top: 40px;

        @media (max-width:768px) {
            margin-top: 17px;
        }

        img {
            border-radius: 20px;

            @media (max-width:768px) {
                width: 60px;
                border-radius: 10px;
            }
        }

        &_info {
            display: flex;
            gap: 30px;
            color: #2B4461;
            font-family: "Yandex Sans Text";

            @media (max-width:768px) {
                gap: 16px;
            }

            .user_name {
                font-size: 28px;
                font-weight: 500;
                line-height: 135%;
                color: #2B4461;
                letter-spacing: -1.12px;

                @media (max-width:768px) {
                    font-size: 20px;
                }
            }

            p {

                font-size: 18px;
                font-weight: 400;
                line-height: 135%;
                letter-spacing: -0.72px;

                @media (max-width:768px) {
                    font-size: 12px;
                }
            }
        }

        .contact {
            display: flex;
            align-items: center;
            color: #2B4461;
            font-family: "Yandex Sans Text";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 49px;
            gap: 20px;

            @media (max-width:768px) {
                margin-top: 26px;
                font-size: 24px;

                img {
                    width: 30px;
                }
            }
        }
    }
}