.how__cost {
  width: 100%;
  background: #F6F9FC;

  .container {
    flex-direction: column;
  }

  &--summa {
    color: #2b4461;
    font-family: "Yandex Sans Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 6.8px;
    text-transform: uppercase;
    margin-top: 38px;
    text-align: center;
    @media (max-width:556px){
      font-size: 14px;
      line-height: normal;
      letter-spacing: 3px;
      
    }
  }

  &--row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 160px;
    margin-right: auto;
    margin-top: 133px;

    @media (max-width:1300px) {
      gap: 0 80px;
    }

    @media (max-width:1200px) {
      margin-top: 40px;
      gap: 0 20px;
    }

    @media (max-width:768px) {
      flex-direction: column;

    }
    @media (max-width:556px){
      margin-top:43px;
    }
      
    h2 {
      max-width: 605px;
      color: #2b4461;
      font-family: "Yandex Sans Text";
      font-size: 130px;
      font-style: normal;
      font-weight: 700;
      line-height: 110px;

      @media (max-width:1300px) {
        font-size: 90px;
        max-width: 466px;
      }

      @media (max-width:1200px) {
        line-height: normal;
        font-size: 70px;
      }

      letter-spacing: -5.2px;

      @media (max-width:768px) {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.92px;
        width: 100%;

        br {
          display: none;
        }
      }
    }

    h5 {
      color: #2b4461;
      font-family: "Yandex Sans Text";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -1.12px;
      position: relative;

      @media (max-width:1200px) {
        font-size: 24px;
        line-height: normal;
      }

      @media (max-width:768px) {
        text-align: center;

        br {
          display: none;
        }
      }
      @media (max-width:556px){
        font-size: 18px;}
      p {
        width: 242px;
        height: 80px;
        position: absolute;
        right: -210px;
        bottom: -100%;
        padding: 14px 25px;
        color: #2b4461;
        font-family: "Yandex Sans Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.64px;
        background-image: url("../images/how__cost__check.png");
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(7.5deg);
        @media (max-width:1400px) {
          right: 0;
        }
        @media (max-width:1200px) {
          top: 120%;
          left: 0;
        }

        @media (max-width:768px) {
          background:rgba(255, 145, 67, 0.20);
          background-size: cover;
          padding: 20px;
          height: 90px;
          color: #2B4461;
          font-size: 12px;
          top: auto;
          left: 0;
          right: 0;
          bottom:-24px;
          margin: 0 auto;
          font-style: normal;
          letter-spacing: -0.48px;
          transform: rotate(4.091deg);
          border-radius: 10px;
          position: relative;
          padding: 15px;
          height: fit-content;
          border-radius: 5px;
          &::after{
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            top: -12px;
            left: 24px;
            background: #F8E3D5;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .how__cost--cards {
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
    box-shadow: 0px 2082px 583px 0px rgba(0, 0, 0, 0.00), 0px 1332px 533px 0px rgba(0, 0, 0, 0.01), 0px 749px 450px 0px rgba(0, 0, 0, 0.03), 0px 333px 333px 0px rgba(0, 0, 0, 0.04), 0px 83px 183px 0px rgba(0, 0, 0, 0.05);
    width: 100%;

    @media (max-width:1200px) {
      flex-wrap: wrap;
      box-shadow: 0 0 0;
    }

    @media (max-width:768px) {
      flex-direction: column;
      margin-top: 60px;
    }

    .card {
      width: 33%;
      background: #FFF;
      padding: 52px 22px 50px 60px;
      padding-top: 62px;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      @media (max-width:1200px) {
        width: 50%;
        padding: 22px 22px 50px 30px;
      }

      @media (max-width:768px) {
        width: 100%;
        padding: 31px 20px;
      }

      &.active {
        background: #F6F9FC;
        padding: 62px 2px 44px 40px;

        @media (max-width:1200px) {
          width: 50%;
          padding: 22px 22px 50px 30px;
        }
        @media (max-width:768px) {
          width: 100%;
          padding: 31px 20px;
        }
      }

      &__price {
        color: #2B4461;
        font-family: "Yandex Sans Text";
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -2.16px;
        color: #2B4461;
        @media (max-width:768px) {
          font-size: 36px;
          text-align: center;
          line-height: normal;
          margin-bottom: 25px;
        }
      }

      b {
        font-family: "Yandex Sans Text";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.12px;
        color: #2B4461;
        margin-top: 18px;
        @media (max-width:768px) {
          font-size: 18px;
          text-align: center;
          width: 100%;
          display: block;
        }
      }

      &__descr {
        color: #B2C4D9;
        font-family: "Yandex Sans Text";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -1.12px;
        @media (max-width:768px) {
          font-size: 18px;
          text-align: center;
          br{
            display: none;
          }
        }
      }

      .low {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  .bottom_cards {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #B2C4D9;
    font-family: "Yandex Sans Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
@media (max-width:768px) {
  margin-top: 30px;
}
    @media (max-width:1200px) {
      flex-wrap: wrap;
      gap: 20px 0;
    }

    &_item {
      @media (max-width:1200px) {
        width: calc(33.33% - 15px);
        br {
          display: none;
        }
      }
      
      @media (max-width:768px) {
        display: none;
      }
      &:last-child{
        @media (max-width:768px) {
          display: block;
        }
      }
    }

    .button {
      padding: 35px 50px;
      border-radius: 14.768px;
      background: #FF8C3A;
      box-shadow: 0px 4.011px 0px 0px #E3792E, 9.845px 9.845px 39.381px 0px rgba(255, 255, 255, 0.30) inset;
      color: #FFF;
      text-align: center;
      text-shadow: 0px 0.985px 0px rgba(0, 0, 0, 0.15);
      font-family: 'Inter';
      font-size: 22.63px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: block;
      @media (max-width:768px) {
        width: 100%;
        padding: 25px 50px;
      }
      @media (max-width:556px){
        font-size: 24px;
        width: fit-content;
        position: relative;
        margin: 0 auto;
    }
  }

}
}